body {
  background-color: #3B020D; 
  margin: 0;
  padding: 0;
}

.pokedex {
  background-color: #DD082F; 
  width: 300px; 
  margin: auto; 
  padding: 20px;
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  border: 5px solid #000000; 
  position: relative; 
}

.screen {
  background-color: #fff;
  border: 15px solid #b8b6b6;
  border-radius: 10px; 
  height: 370px;
  padding: 20px;
  margin-bottom: 20px; 
}

.pokemon-info {
  text-align: center; 
}

.pokemon-info img {
  width: 80px; 
}

.pokemon-info p {
  margin: 5px 0;
  font-weight: bold; 
}

.search-container {
  display: flex;
  justify-content: space-around; 
  padding: 10px;
  background-color: #f1c40f; 
  margin-bottom: 10px; 
  border-radius: 20px; 
}

input[type="text"] {
  flex: 1; 
  margin-right: 10px; 
}

.decoration-button-blue {
  background-color: #3498db; 
  border-color: black;
  border-width: 1px;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.decoration-button-green {
  background-color: #73f440; 
  border-color: black;
  border-width: 1px;
  color: white;
  width: 80px;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 16px;
  margin-left: 10px;
}

.decoration-button-yellow {
  background-color: #facc48; 
  border-color: black;
  border-width: 1px;
  color: white;
  width: 80px;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 16px;
  margin-left: 10px;
}

.button-blue {
  background-color: #6bf5f3;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 6px;
}

.button-red {
  background-color: #ed1c24;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 4px;
}

.button-yellow {
  background-color: #facc48;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 4px;
}

.button-green {
  background-color: #22b14c;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 4px;
}

